.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg {
  background-image: url("./assets/form-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 1165px;
  position: relative;
}
.bgCard {
  background-image: url("./assets/card-new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  width: 423px;
  height: 500px;
  position: relative;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logosWrapper {
  display: flex;
  justify-content: center;
  margin: 4px 10px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
}
.inputsWrapper {
  width: 280px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.inputBoxes {
  background: white;
  border: 1px solid #01012f;
  border-radius: 3px;
  padding: 7px;
  margin: 4px;
  color: black;
  cursor: pointer;
}
input:focus {
  border: none;
  outline: none;
}
select:focus {
  border: none;
  outline: none;
}
.fontStyle {
  font-family: "Montserrat", sans-serif;
}
.imageStyle {
  width: 100px;
  height: 100px;
  margin: 5px 10px;
}
h3,
h4 {
  margin: 5px auto;
  color: black;
}
.titleSponsorsWrapper {
  position: absolute;
  bottom: 66px;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 100%;
}
.titleSponsor {
  height: 80px;
}
.sponsorsWrapper {
  position: absolute;
  bottom: 10px;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
}
.sponsorImg {
  height: 50px;
}
.cardWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logosWrapperCard {
  display: flex;
  justify-content: space-between;
  margin: 4px 10px;
  width: 100%;
}
.cardDetails {
  background: #ffffff59;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 20px;
}
h2 {
  color: #2e0808;
  margin: 5px 0;
}
/* .uploadedImg {
  width: 120px;
  height: 121px;
  border-radius: 5px;
  position: absolute;
  top: 163px;
  right: 52px;
  border-radius: 70px;
}
.name {
  position: absolute;
  top: 101px;
  left: 90px;
  font-size: 18px;
}
.team {
  position: absolute;
  top: 184px;
  left: 88px;
  font-size: 18px;
}
.number {
  position: absolute;
  top: 144px;
  left: 105px;
  font-size: 16px;
}
.role {
  position: absolute;
  top: 248px;
  left: 42px;
  font-size: 16px;
}
.batStyle {
  position: absolute;
  top: 316px;
  left: 42px;
  font-size: 16px;
}
.bowlStyle {
  position: absolute;
  top: 382px;
  left: 42px;
  font-size: 16px;
}
.id {
  position: absolute;
  top: 4px;
  right: 24px;
  color: white;
  width: 61px;
  justify-content: center;
  display: flex;
}
.downloadBtn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
.qrCode {
  margin: 0px;
  padding: 5px;
  border-radius: 20px;
  height: 260px;
} */
.uploadedImg {
  width: 151px;
  height: 152px;
  border-radius: 5px;
  position: absolute;
  top: 138px;
  left: 36px;
  border-radius: 70px;
}
.name {
  position: absolute;
  top: 325px;
  left: 30px;
  font-size: 18px;
  width: 160px;
  justify-content: center;
  display: flex;
}
.team {
  position: absolute;
  top: 370px;
  left: 30px;
  font-size: 18px;
  width: 160px;
  justify-content: center;
  display: flex;
}
.number {
  position: absolute;
  top: 400px;
  left: 60px;
  font-size: 16px;
  width: 100px;
  justify-content: center;
  display: flex;
}
.role {
  position: absolute;
  top: 284px;
  left: 238px;
  font-size: 16px;
}
.batStyle {
  position: absolute;
  top: 352px;
  left: 238px;
  font-size: 16px;
}
.bowlStyle {
  position: absolute;
  top: 424px;
  left: 238px;
  font-size: 16px;
}
.id {
  position: absolute;
  top: 150px;
  left: 8px;
  color: white;
  width: 54px;
  justify-content: center;
  display: flex;
  font-size: 20px;
}
.downloadBtn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
.qrCode {
  margin: 0px;
  padding: 5px;
  border-radius: 20px;
  height: 260px;
}
